---
import dataEntertainments from "../../../../data/entertainments.json";
import type { ObjectInterface } from "../../../helpers/commonInterfaces";
import PoiDetailsLayout from "../../../layouts/PoiDetailsLayout.astro";
import { Img } from "astro-imagetools/components";

export function getStaticPaths() {
  return dataEntertainments.data.map((entertainment) => {
    return {
      params: { entertainment: entertainment.slug },
      props: { entertainment },
    };
  });
}
interface Props {
  entertainment: ObjectInterface;
}

const { entertainment } = Astro.props as Props;
---

<PoiDetailsLayout place={entertainment}>
  <section class="px-2">
    <h2 class="text-2xl font-bold pt-5">More Photos</h2>
    <div class="py-2 grid gap-2 grid-cols-2 md:grid-cols-4">
      {
        entertainment.gallery.map((gallery: ObjectInterface) => {
          return (
            <div class="aspect-w-1 aspect-h-1 relative duration-500 group hover:scale-150 hover:z-10">
              <div class="absolute h-full w-full top-0 left-0 rounded-lg overflow-hidden mx-auto group-hover:w-fit">
                <div class="w-full h-full group-hover:object-contain">
                  <Img
                    format="webp"
                    layout="fill"
                    src={gallery.url}
                    alt={gallery.url}
                  />
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </section>
</PoiDetailsLayout>
