---
import data_catalogs from "../../../data/catalogs.json";
import data_places from "../../../data/places.json";
import HeroSection from "../../components/sections/HeroSection.astro";
import type { ObjectInterface } from "../../helpers/commonInterfaces";
import { getItemsByCatalog } from "../../helpers/commonUtils";
import Layout from "../../layouts/Layout.astro";
export function getStaticPaths() {
  return data_catalogs.data.map(({ name, slug, details }) => {
    const places = getItemsByCatalog(slug, data_places.data);
    return {
      params: { catalog: slug },
      props: { name, details, places },
    };
  });
}

export interface Props {
  name: string;
  details: string;
  places: ObjectInterface[];
}
const { name, details, places } = Astro.props;
---

<Layout>
  <HeroSection title={name} description={details} />
  <section class="py-10">
    <div class="container mx-auto">
      {
        places.map((place) => {
          const catalog = place.catalog.trim().toLowerCase();
          if (catalog === name.trim().toLowerCase()) {
            return <div>{place.name}</div>;
          }
        })
      }
    </div>
  </section>
</Layout>
