---
import catalogs from "../../../data/catalogs.json";
import { Icon } from "astro-icon";
const { pathname } = Astro.url;
const currentPage = pathname.split("/")[1];
---

<header>
  <div class="flex p-2 md:p-5">
    <nav
      class="relative container mx-auto justify-between items-center gap-10 md:static md:flex"
    >
      <a href="/" class="block w-14 md:w-20">
        <img src="/images/logo.png" class="w-full" />
      </a>
      <div
        id="nav-links"
        class="max-h-0 opacity-0 pointer-events-none duration-500 bg-white flex-col gap-x-10 gap-y-2 justify-end flex md:flex-wrap md:flex-row md:opacity-100 md:max-h-[1000px] md:pointer-events-auto"
      >
        {
          catalogs.data.map((object) => {
            return (
              <a
                href={`/${object.slug}`}
                class={`text-base font-medium text-gray-500 hover:text-gray-900 capitalize ${
                  currentPage === object.slug && "font-bold text-black"
                }`}
              >
                {object.icon && <Icon name={object.icon} />}
                {object.slug}
              </a>
            );
          })
        }
        <a
          href="/news"
          class={`text-base font-medium text-gray-500 hover:text-gray-900 capitalize ${
            currentPage === "news" && "font-bold text-black"
          } inline-block lg:hidden`}
        >
          <Icon name="mdi:newspaper-variant-outline" />
          News
        </a>
      </div>
      <a
        href="/news"
        class={`text-base font-medium text-gray-500 hover:text-gray-900 capitalize ${
          currentPage === "news" && "font-bold text-black"
        } hidden lg:inline-block`}
      >
        <Icon name="mdi:newspaper-variant-outline" />
        News
      </a>
    </nav>
    <button id="navbtn" class="absolute right-2 top-5 md:hidden">Menu</button>
  </div>
</header>

<style>
  [astro-icon] {
    height: 1em;
    width: 1em;
    display: inline-block;
  }
  .show-links {
    max-height: 1000px;
    padding: 1rem;
    opacity: 1;
    pointer-events: all;
  }

  @media (min-width: 768px) {
    .show-links {
      max-height: 1000px;
      pointer-events: all;
      padding: 0;
    }
  }
</style>

<script>
  const openButton = document.getElementById("navbtn");
  if (openButton) openButton.addEventListener("click", myscript);
  const closeButton = document.getElementById("cca-close-nav");
  if (closeButton) closeButton.addEventListener("click", myscript);
  function myscript() {
    document.getElementById("nav-links")!!.classList.toggle("show-links");
  }
</script>
