---
<<<<<<< HEAD
import Test from "../components/Test";
=======
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import CatalogSection from "../components/sections/CatalogSection.astro";
>>>>>>> ready-for-review
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Available</title>
  </head>
  <body>
    <main>
      <section class="text-center">
        <div
          class="flex flex-col justify-center items-center h-screen gap-5 container mx-auto px-10"
        >
          <h1 class="text-5xl font-extrabold">Under Development</h1>
          <div>
            <p>
              The website is still being develop and will be deployed before
              December 2022 ends!
            </p>
            <p class="text-xl">Thank you for checking this website!</p>
          </div>
          <Test client:load />
        </div>
      </section>
    </main>
  </body>
</html>
