---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="py-10">
    <div class="container mx-auto px-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut libero, quos
      assumenda, cum animi laborum est tempore, ipsum commodi atque error
      cupiditate alias illum aliquid quas ipsa nam iure. Consequatur!
    </div>
  </section>
</Layout>
