---
import Markdown from "@components/widgets/Markdown.astro";
import Section from "@components/sections/Section.astro";
import { getEntryBySlug } from "astro:content";
import Layout from "@layouts/Layout.astro";

const mdFile = await getEntryBySlug("misc", "terms-of-use");
const { Content } = await mdFile.render();
---

<Layout>
  <Section>
    <Markdown>
      <Content />
    </Markdown>
  </Section>
</Layout>
