---
import Layout from "../../../layouts/Layout.astro";
import dataPlaces from "../../../../data/places.json";
import { getItemsByCatalog } from "../../../helpers/commonUtils";
import PoiListCard from "../../../components/PoiListCard.astro";

const places = getItemsByCatalog("shopping", dataPlaces.data);
const { pathname } = Astro.url;
---

<Layout>
  <!-- Hero Section -->
  <section class="py-10 relative h-96">
    <div class="absolute inset-0">
      <img
        src="/images/boat rental.jpg"
        alt="boat rental"
        class="w-full h-full object-cover"
      />
    </div>
  </section>
  <section class="bg-blue-100 py-10">
    <h2 class="text-5xl font-extrabold text-center">Our Boats</h2>
    <div class="container mx-auto px-10">
      {
        places.map((place) => {
          return (
            <div class="grid grid-cols-2 py-5 gap-5">
              <div class="overflow-hidden aspect-w-2 aspect-h-1 rounded-xl">
                <img class="w-full h-full" src={place.files[0]?.url ?? "/"} />
              </div>
              <div class="flex flex-col py-10">
                <h3 class="text-3xl font-bold">{place.name}</h3>
                <p>
                  <span class="font-bold">Length:</span> asdad asdda
                </p>
                <a
                  href={`${pathname ? `${pathname}/` : ""}${place.slug}`}
                  class="mt-auto ml-auto px-5 py-2 border border-blue-500 rounded-lg block w-fit group"
                >
                  View More &gt;&gt;
                  <div class="border border-black bg-black scale-x-0 transition-all group-hover:scale-x-100" />
                </a>
              </div>
            </div>
          );
        })
      }
    </div>
  </section>
</Layout>
