---
import type { ObjectInterface } from "../helpers/commonInterfaces";
import { Img } from "astro-imagetools/components";

interface Props {
  files: ObjectInterface[];
}

const { files } = Astro.props as Props;
---

<div class="flex overflow-x-auto">
  {
    files.map((file: ObjectInterface, index: number) => {
      return (
        <div class="min-w-full h-full border aspect-w-3 aspect-h-2">
          <Img
            layout="fill"
            src={file.url}
            alt={`carousel-${index}`}
          />
        </div>
      );
    })
  }
</div>
