---
import type { ObjectInterface } from "../helpers/commonInterfaces";

export interface Props {
  catalog: ObjectInterface;
}
const { catalog } = Astro.props as Props;
const { name, slug, files } = catalog;
---

<li
  class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow overflow-hidden"
>
  <div class="flex flex-1 flex-col">
    <img src={files[0]?.url ?? "/"} alt={slug} class="h-60 object-cover" />
  </div>
  <div>
    <div class="-mt-px flex divide-x divide-gray-200">
      <div class="flex w-0 flex-1">
        <a
          href={`/${slug}`}
          class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center rounded-bl-lg border border-transparent py-4 text-sm font-medium text-gray-700 hover:text-gray-500"
        >
          <span class="ml-3 text-xl capitalize">{name}</span>
        </a>
      </div>
    </div>
  </div>
</li>
