---
import Layout from "../../layouts/Layout.astro";
import dataShoppings from "../../../data/shoppings.json";
import PoiListCard from "../../components/PoiListCard.astro";

const shoppings = [...dataShoppings.data];
const { pathname } = Astro.url;
---

<Layout>
  <!-- Hero Section -->
  <section
    class="relative bg-cover bg-center py-12 sm:pt-16 lg:pt-20 sm:pb-24 lg:pb-32"
  >
    <div class="absolute inset-0">
      <img src="/images/shopping.jpg" class="h-full w-full object-cover" />
      <div class="bg-gray-900 absolute inset-0 opacity-50"></div>
    </div>
    <div class="relative container mx-auto p-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2
          class="text-3xl font-bold tracking-tight text-white sm:text-4xl lg:text-5xl"
        >
          Shopping Malls Davao
        </h2>
        <p class="mt-4 text-xl text-gray-200">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sunt
          nulla facilis eos minima veniam veritatis rem temporibus a esse optio
          ratione repellendus magnam voluptate fugit nisi, totam autem tempora!
        </p>
      </div>
    </div>
  </section>

  <section class="pb-16 sm:mt-12 sm:pb-20 lg:pb-28">
    <div class="relative">
      <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 -mt-28">
        {
          shoppings.map((shopping) => {
            return <PoiListCard place={shopping} pathname={pathname} />;
          })
        }
      </div>
    </div>
  </section>
</Layout>
