---
import dataPlaces from "../../../../data/places.json";
import type { ObjectInterface } from "../../../helpers/commonInterfaces";
import { getItemsByCatalog } from "../../../helpers/commonUtils";
import PoiDetailsLayout from "../../../layouts/PoiDetailsLayout.astro";

export function getStaticPaths() {
  return getItemsByCatalog("shopping", dataPlaces.data).map((place) => {
    return {
      params: { place: place.slug },
      props: { place },
    };
  });
}
interface Props {
  place: ObjectInterface;
}

const { place } = Astro.props as Props;
const { files } = place;
---

<PoiDetailsLayout place={place}>
  <section>
    {
      files.length > 0 && (
        <>
          <h3 class="pt-4 text-2xl font-bold capitalize">More Photos</h3>
          <div class="flex gap-5">
            {files.map((file: ObjectInterface, index: number) => {
              return (
                <div class="rounded-lg shadow-xl overflow-hidden">
                  <img
                    class="h-full w-full"
                    src={file.url ?? "/"}
                    alt={place.name}
                  />
                </div>
              );
            })}
          </div>
        </>
      )
    }
  </section>
</PoiDetailsLayout>
