---
import Layout from "../../layouts/Layout.astro";
import data_places from "../../../data/places.json";
import { getItemsByCatalog } from "../../helpers/commonUtils";

const places = getItemsByCatalog("hotels", data_places.data);
---

<Layout>
  <!-- Hero section -->
  <section class="relative">
    <!-- Background image and overlap -->
    <div aria-hidden="true" class="absolute inset-0 hidden sm:flex sm:flex-col">
      <div class="relative w-full flex-1 bg-gray-800">
        <div class="absolute inset-0 overflow-hidden">
          <img
            src="/images/hotels.jpg"
            alt="background"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <div class="absolute inset-0 bg-gray-900 opacity-50"></div>
      </div>
      <div class="h-32 w-full bg-white md:h-40 lg:h-48"></div>
    </div>

    <!-- Mobile View -->
    <div
      class="relative mx-auto max-w-3xl px-4 pb-96 text-center sm:px-6 sm:pb-0 lg:px-8"
    >
      <!-- Background image and overlap -->
      <div aria-hidden="true" class="absolute inset-0 flex flex-col sm:hidden">
        <div class="relative w-full flex-1 bg-gray-800">
          <div class="absolute inset-0 overflow-hidden">
            <img
              src="/images/hotels.jpg"
              alt="background"
              class="h-full w-full object-cover object-center"
            />
          </div>
          <div class="absolute inset-0 bg-gray-900 opacity-50"></div>
        </div>
        <div class="h-48 w-full bg-white"></div>
      </div>
      <div class="relative py-32">
        <h1
          class="text-4xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl"
        >
          Mid-Season Sale
        </h1>
      </div>
    </div>

    <!-- Overlapped Cards -->
    <section
      aria-labelledby="collection-heading"
      class="relative -mt-96 sm:mt-0"
    >
      <h2 id="collection-heading" class="sr-only">Collections</h2>
      <div
        class="mx-auto grid max-w-md grid-cols-1 gap-y-6 px-4 sm:max-w-7xl sm:grid-cols-3 sm:gap-y-0 sm:gap-x-6 sm:px-6 lg:gap-x-8 lg:px-8"
      >
        {
          places.splice(0, 3).map((place) => {
            const { links } = place;
            return (
              <div class="group relative h-96 rounded-lg bg-white shadow-xl sm:aspect-w-4 sm:aspect-h-5 sm:h-auto">
                <div>
                  <div
                    aria-hidden="true"
                    class="absolute inset-0 overflow-hidden rounded-lg"
                  >
                    <div class="absolute inset-0 overflow-hidden group-hover:opacity-75">
                      <img
                        src={place.files[0]?.url ?? "/"}
                        alt={place.name}
                        class="h-full w-full object-cover object-center"
                      />
                    </div>
                    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50" />
                  </div>
                  <div class="absolute inset-0 flex items-end rounded-lg p-6">
                    <div>
                      <p aria-hidden="true" class="text-sm text-white">
                        Read More
                      </p>
                      <h3 class="mt-1 font-semibold text-white">
                        <a
                          href={links.length ? links[0].url : "#"}
                          target={links.length ? "_blank" : "_self"}
                          class="uppercase"
                        >
                          <span class="absolute inset-0" />
                          {place.name}
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
  </section>

  <!-- Hotels List -->
  <section aria-labelledby="trending-heading">
    <div class="mx-auto max-w-7xl py-24 px-4 sm:px-6 sm:py-32 lg:px-8 lg:pt-32">
      <div class="md:flex md:items-center md:justify-between">
        <h2
          id="favorites-heading"
          class="text-2xl font-bold tracking-tight text-gray-900"
        >
          Discover More Hotels
        </h2>
      </div>

      <div
        class="mt-6 grid grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-3 md:gap-y-0 lg:gap-x-8"
      >
        {
          places.splice(0, 3).map((place) => {
            const { links } = place;
            return (
              <div class="group relative">
                <div class="h-56 w-full overflow-hidden rounded-md group-hover:opacity-75 lg:h-72 xl:h-80">
                  <img
                    src={place.files[0]?.url ?? "/"}
                    alt={place.name}
                    class="h-full w-full object-cover object-center"
                  />
                </div>
                <h3 class="mt-4 text-sm text-gray-700">
                  <a
                    href={links.length ? links[0].url : "#"}
                    target={links.length ? "_blank" : "_self"}
                  >
                    <span class="absolute inset-0" />
                    {place.name}
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">Natural</p>
                <p class="mt-1 text-sm font-medium text-gray-900">$75</p>
              </div>
            );
          })
        }

        <!-- More products... -->
      </div>

      <div class="mt-8 text-sm md:hidden">
        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
          Shop the collection
          <span aria-hidden="true"> &rarr;</span>
        </a>
      </div>
    </div>
  </section>
</Layout>
