---
import Footer from "../components/widgets/Footer.astro";
import Navbar from "../components/widgets/Navbar.astro";
import siteInfo from "../../data/site_info.json";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = siteInfo.data.site_info.title ?? "No Title",
  description = siteInfo.data.site_info.description ?? "No Description",
} = Astro.props as Props;

const capitalizeTitle = title
  .split(" ")
  .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
  .join(" ");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="robots" content="index" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/logo/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/logo/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/logo/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{capitalizeTitle}</title>
  </head>
  <body class="relative flex flex-col min-h-[100vh] bg-white text-black">
    <Navbar />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
