---
import Layout from "./Layout.astro";
import "../styles/markdown.css";

const { frontmatter } = Astro.props;
const { title, author, date } = frontmatter;
---

<Layout>
  <div class="max-w-3xl container mx-auto">
    <section class="border-b mb-4">
      <h1 class="text-3xl font-bold">{title}</h1>
      <div class="text-sm mb-3 flex flex-wrap gap-4">
        <h5 class="text-neutral-600 font-medium">
          Date: <span class="font-normal">{date}</span>
        </h5>
        <h5 class="text-neutral-600 font-medium">
          Author: <span class="font-normal">{author}</span>
        </h5>
      </div>
    </section>

    <section class="markdown-body">
      <slot />
    </section>
  </div>
</Layout>
