---
import dataRestaurants from "../../../../data/restaurants.json";
import type { ObjectInterface } from "../../../helpers/commonInterfaces";
import { getItemsByCatalog } from "../../../helpers/commonUtils";
import PoiDetailsLayout from "../../../layouts/PoiDetailsLayout.astro";

export function getStaticPaths() {
  return getItemsByCatalog("restaurants", dataRestaurants.data).map(
    (restaurant) => {
      return {
        params: { restaurant: restaurant.slug },
        props: { restaurant },
      };
    }
  );
}
interface Props {
  restaurant: ObjectInterface;
}

const { restaurant } = Astro.props as Props;
---

<PoiDetailsLayout place={restaurant}>
  <section>
    <h2 class="text-2xl font-bold pt-5">Featured Foods</h2>
    <div class="py-2 grid grid-cols-2 gap-x-2">
      {
        restaurant.products.map((product: ObjectInterface) => {
          return (
            <div class="grid grid-cols-2 items-center">
              <div class="border aspect-w-6 aspect-h-3 relative overflow-hidden">
                <img
                  class="absolute inset-0"
                  src={product.images[0].url}
                  alt={product.images[0].url}
                />
              </div>
              <div class="p-2">
                <h4 class="text-lg leading-5">{product.name}</h4>
                <div class="text-sm text-gray-500">
                  <p>
                    Food type:{" "}
                    <span class="font-bold">
                      {product.description.length ? product.description : "N/A"}
                    </span>
                  </p>
                  <p>{product.price.length ? product.price : "₱₱"}</p>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </section>
</PoiDetailsLayout>
